%div#title
  Terrain Generation using the Diamond-Square algorithm, Three.js and WebGL
  %br/
  %span#debug

#panel
  %ul
    %li
      %label Width
      = select_tag 'width', options_for_select((2..13).map{|i| 2 ** i}, 512), :id => 'width'

    %li
      %label Height
      = select_tag 'height', options_for_select((2..13).map{|i| 2 ** i}, 512), :id => 'height'

    %li
      %label Segments
      = select_tag 'segments', (1..11).map{|i| '<option value="'+i.to_s+'"'+(i==6 ? ' selected="selected"' : '')+'>'+(2**i+1).to_s+'</option>'}.join.html_safe, :id => 'segments'
      -#= select_tag 'segments', '<option value="6" selected="selected">65</option>'.html_safe, :id => 'segments'

    %li
      %label Smoothing factor
      = select_tag 'smoothingfactor', options_for_select((0..56).map{|g| 128 + g * 16}, 128), :id => 'smoothingfactor'

    %li
      <input id="generate" type="button" value="Generate" />

    %li{:style => 'margin-top: 20px;'}
      %label Texture
      = select_tag 'texture', '<option value="0">None</option><option value="1" selected="selected">Grass</option><option value="2">Sand</option><option value="3">Rock</option>'.html_safe, :id => 'texture'


    %li
      %label Fog
      = select_tag 'fog', '<option value="0">None</option><option value="1" selected="selected">0.001</option><option value="2">0.002</option>'.html_safe, :id => 'fog'
    %li
      %label Border
      <input type="checkbox" id="border" />

    %li
      %label Show info
      <input type="checkbox" id="showinfo" />

#commands Drag with the mouse and press a, w, d, s or &larr;, &uarr;, &rarr;, &darr; and r, f keys for navigation
#viewport{:tabindex => -1}
